*{
  margin: 0;
  padding: 0;

}

p{
  color: hsla(0, 0%, 100%, 0.75);
  font-size: 15px;
  font-family: Lexend Deca;
  margin-bottom: 20px;
}

h2{
  color: hsl(0, 0%, 95%);
  font-family: Big Shoulders Display;
  margin-bottom: 25px;
}

body{
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

button{
  background-color: white;
  padding: 0.7em 1.5em;
  border-radius: 1em;
  border: none;
  margin-bottom: 30px;
  
}

.sedans{
  background-color: hsl(31, 77%, 52%);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 1rem;
}

.suvs{
  background-color: hsl(184, 100%, 22%);
  padding: 1rem;
}

.luxury{
  background-color: hsl(179, 100%, 13%);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 1rem;
}


.grid-container{
  max-width: 50em;
  margin: 1rem;
}

.grid{
  display: grid;
  grid-template-columns: 1fr;
  flex: 1;
}


  
@media only screen and (min-width:768px){
  .grid{
    grid-template-columns: 1fr 1fr 1fr;
  }

  .sedans{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 0px;
  }

  .luxury{
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
  }

}





